.map {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 104px;
    left: 0;
    right: 0;
    height: 875px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
   }

.map-content{
    background-color: #303030;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 48%;
    height: 680px;
    margin-top: 100px;
    border-radius: 2%;
   }

   @media screen and (max-width: 900px) {

    div.map-content{
        left: 100px;
        display: none;
       }
       
   }