.footer {
    display: block;
    position: fixed;
    background-color: rgb(62 59 59 / 56%);
    backdrop-filter: blur(5px);
    bottom: 0px;
    height: 100px;
    margin-bottom: -10%;
    left: 0px;
    right: 0px;
    transition: 0.5s;
    z-index: 3;
}

.fleche-footer {
    position: absolute;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    z-index: 3;
}

.footer-button {
    width: 60px;
    transform: rotate(270deg);
    transition: 0.5s;
}

.footer-button.rotate {
    transform: rotate(90deg);
}

.fleche-footer.rotate {
    bottom: 90px;
    position: fixed;
}

.footer.up {
    margin-bottom: 0%;
}

.footer-content {
    margin-bottom: 0.5rem;
    display: flex;
}

.resaux-footer {
    margin-left: 50px;
}

.resaux-footer-titre {
    line-height: 1.5rem;
    font-family: cursive;
    color: aliceblue;
}

.resaux-footer-item {
    line-height: 1.5rem;
}


.rynvarn-footer {
    margin-left: 50px;
}

.rynvarn-footer-titre {
    line-height: 1.5rem;
    font-family: cursive;
    color: aliceblue;
}

.rynvarn-footer-item {
    line-height: 1.5rem;
}

.txt-footer {
    color: cadetblue;
    font-family: sans-serif;
}
.txt-footer:hover {
    color: rgb(108, 193, 196);
}

@media screen and (max-width: 900px) {

    .footer {
        margin-bottom: -25%;
    }

}