.wiki-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 104px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 875px;
    width: 97%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
   }

   .wiki-2 {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 83px;
    height: 792px;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 160px;
    left: 0;
    right: 0;
    bottom: 0;
   }

   .wiki-titre-liste {
    font-size: 23px;
    font-weight: 600;
    line-height: 1rem;
    text-transform: uppercase;
    padding: 0.5rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: antiquewhite;
    margin-left: -18px;
    margin-top: 45px;
   }

   .wiki-liste {
    width: 270px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 75px;
    top: 31px;
    }

    .wiki-txt-regles {
        color: cadetblue;
        font-size: 17px;
        top: 70px;
        text-decoration: none;
    }

    .accueil-1 {
        text-decoration: none;
        font-family: cursive;
        color: cadetblue;
    }

    .accueil {
        padding: 0.375rem 0.75rem 0.375rem 0;
        border-radius: 0.1875rem;
    }

    .accueil-1.slide {
        position: absolute;
        transition: margin-left 0.2s linear;
        margin-left: 1em;
        cursor: pointer;
        width: 190px;
        color: rgb(126, 213, 216);
    }

    .accueil.slide {
        padding: 0.375rem 0.75rem 1.9rem 0;
        border-radius: 0.1875rem;  
    }

    .accueil-1:hover {
        color: rgb(126, 213, 216);
    }

    .codex-1 {
        text-decoration: none;
        font-family: cursive;
        color: cadetblue;
    }

    .codex {
        padding: 0.375rem 0.75rem 0.375rem 0;
        border-radius: 0.1875rem;  
    }

    .codex.slide {
        padding: 0.375rem 0.75rem 1.9rem 0;
        border-radius: 0.1875rem;  
    }

    .codex-1.slide {
        position: absolute;
        transition: margin-left 0.2s linear;
        margin-left: 1em;
        cursor: pointer;
        width: 190px;
        color: rgb(126, 213, 216);
    }

    .codex-1:hover {
        color: rgb(126, 213, 216);
    }

    .luncher-1 {
        text-decoration: none;
        font-family: cursive;
        color: cadetblue;
    }

    .luncher {
        padding: 0.375rem 0.75rem 0.375rem 0;
        border-radius: 0.1875rem;
    }

    .luncher.slide {
        padding: 0.375rem 0.75rem 1.9rem 0;
        border-radius: 0.1875rem;
    }

    .luncher-1.slide {
        position: absolute;
        transition: margin-left 0.2s linear;
        margin-left: 1em;
        cursor: pointer;
        width: 190px;
        color: rgb(126, 213, 216);
    }

    .luncher-1:hover {
        color: rgb(126, 213, 216);
    }

    .txt-top {
        display: flex;
        left: 512px;
        position: absolute;
        width: 49%;
        height: 100px;
        flex-direction: column;
        justify-content: center;
        text-align: -webkit-center;
    }

    .titre-wiki {
        padding-top: 1px;
        height: 4%;
        width: 41%;
        text-align: center;
        color: rgb(255 182 182);
        font-size: 29px;
        }

    .desc-wiki {
        padding-top: 1px;
        height: 4%;
        width: 41%;
        color: rgb(255 182 182);
        font-size: 20px;
        font-family: monospace;
    }

    .wiki-titre-gameplay {
        font-size: 21px;
        font-weight: 600;
        line-height: 1rem;
        text-transform: uppercase;
        padding: 0.5rem 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: antiquewhite;
        margin-left: -18px;
    }

    .wiki-gamplay {
        top: 214px;
        display: flex;
        padding: 0.375rem 0.75rem 0.375rem 0;
        border-radius: 0.1875rem;
        align-items: flex-start;
        width: 175px;
        flex-direction: column;
    }

    .armes-1 {
        text-decoration: none;
        font-family: cursive;
        display: flex;
        color: cadetblue;
        align-items: center;    
    }

    .armes {
        padding: 0.375rem 0.75rem 0.375rem 0;
        border-radius: 0.1875rem;
        max-width: 300px;
        height: 21px;
        border-radius: 5px;
        transition: 0.2s;
    }

    .armes.drop {
        margin-bottom: 65px;
        transition: 0.2s;
    }

    .armes-1:hover {
        color: rgb(126, 213, 216);
    }

    .armes-liste {
        padding: 0 0 0 1.9rem;
        margin: 1px 0 0;
        max-height: 0px;
        overflow: hidden;
        transition: 0.2s;
        cursor: pointer;
    }

    .armes-liste.drop {
        max-height: 300px;
    }

    .sword {
        padding: 0.375rem 0.75rem 0.375rem 0;
        border-radius: 0.1875rem;
    }

    .sword-1 {
        font-family: cursive;
        color: cadetblue;
    }

    .sword-1:hover {
        color: rgb(126, 213, 216);
    }

    .sword.slide {
        border-radius: 0.1875rem; 
    }

    .sword-1.slide {
        transition: margin-left 0.2s linear;
        margin-left: 1em;
        cursor: pointer;
        width: 190px;
        color: rgb(126, 213, 216);
    }

    .hammer {
        padding: 0rem 0.75rem 0.375rem 0;
        border-radius: 0.1875rem;
    }

    .hammer-1 {
        font-family: cursive;
        color: cadetblue;
    }

    .hammer-1:hover {
        color: rgb(126, 213, 216);
    }

    .hammer.slide {
        padding: 0rem 0.75rem 0.375rem 0;
        border-radius: 0.1875rem;  
    }

    .hammer-1.slide {
        transition: margin-left 0.2s linear;
        margin-left: 1em;
        cursor: pointer;
        width: 190px;
        color: rgb(126, 213, 216);
    }

    .agriculture-1 {
        text-decoration: none;
        font-family: cursive;
        display: flex;
        color: cadetblue;
        align-items: center;
    }

    .agriculture-1:hover {
        color: rgb(126, 213, 216);   
    }

    .img-fleche-armes {
        height: 20px;
        width: 20px;
        transition: transform .2s ease;
    }

    .img-fleche-armes.rotate {
        transform: rotate(90deg);
    }

    .img-fleche-agriculture {
        height: 20px;
        width: 20px;
        transition: transform .2s ease;
    }
    
    .img-fleche-agriculture.rotate {
        transform: rotate(90deg);
    }

    @media screen and (max-width: 900px) {

        div.wiki-1{
            display: flex;
            align-items: center;
            top: 135px;
            width: 87%;
        }
    
        div.wiki-2{
            margin-left: 0;
            margin-top: 20px;
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: nowrap;
            align-items: center;
        }

        div.wiki-liste {
            position: unset;
            display: flex;
            margin-bottom: 25px;
        }

        li.luncher.slide {
            padding: 0.375rem 0.75rem 2.1rem 0;
        }

        li.accueil.slide {
            padding: 0.375rem 0.75rem 2.1rem 0;
        }

        li.codex.slide {
            padding: 0.375rem 0.75rem 2.1rem 0;
        }

        .luncher-1 {
            font-size: 20px;
        }

        .accueil-1 {
            font-size: 20px;
        }

        .codex-1 {
            font-size: 20px;
        }

        .luncher-1.slide {
            width: 202px;
        }

        .txt-top {
            position: unset;
            width: 326px;
        }
    }