.vote {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 253px;
    left: 0;
    right: 0;
    height: auto;
    min-height: calc(100vh - 7rem);
   }

.vote-content{
    left: 0;
    right: 0;
    margin-right: 100px;
    margin-left: 100px;
   }

   .section-titre {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .titre-vote {
    font-size: 2.5rem;
    margin: 0 0 1rem;
    line-height: 2.5rem;
   }

   .desc-titre-vote {
    font-size: 20px;
    font-family: cursive;
    text-align: center;
   }

   .vote-button {
    left: 0;
    right: 0;
    margin-right: 185px;
    margin-left: 185px;
    margin-top: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

   }

   .button {
    height: 100px;
    width: 370px;
    background: darkred;
   }

   .classement {
    height: 100px;
    width: 370px;
    background: darkred;
   }

   @media screen and (max-width: 900px) {

    div.vote-content{
        left: 100px;
        display: none;
       }
       
   }