.slogan {
    height: 300px;
    margin-left: 44px;
}

.slogan-luncher {
    display: flex;
    flex-direction: column;
    height: 220px;
}

.texte-slogan {
    display: flex;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(236, 231, 231);
    top: 317px;
    left: 92px;
    height: 138px;
}

.texte-luncher {
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 30px;
    color: rgb(191, 194, 10);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: brown;
    border-radius: 15px;
    padding-bottom: 10px;
    width: 382px;
    max-width: 382px;
    transition: 1s;
    
}


.texte-luncher:hover {
    display: flex;
    justify-content: center;
    background-color: rgb(206, 49, 49);
    transition: .5s;
}

@media screen and (max-width: 900px) {

    h1.texte-slogan {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        height: 53%;
        width: 116%;
        font-size: 1.3rem;
    }

    div.slogan {
        top: 25px;
        left: 0;
        right: 0;
        height: 169px;
        width: 325px;
        display: flex;
        margin-left: 0;
        flex-direction: column;
        align-items: center; 
    }

    a.texte-luncher {
        font-size: 24px;
        width: 212px;
    }

    div.slogan-luncher {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 167px;
    }

}